*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #111111;
}

header{
    width: 100%;
    margin: 0;
    position: relative;
    height: 650px;
}

nav{
    z-index: 10;
    padding: 20px;
    box-shadow: rgba(240, 255, 255, 0.575) 10px 10px 10px;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

.logo{
    display: inline-block;
}

.logo h5{
    font-size: 2em;
    font-weight: 700;
}

.nav-tabs{
    display: inline-block;
    margin-left: 28%;
    padding: 15px;
}

.nav-tabs ul li{
    list-style: none;
    display: inline;
    margin: 10px;
}
.nav-tabs ul li a{
    color: #111111;
    text-decoration: none;
}

.nav-tabs ul li a i{
    color: #111111 !important;
    text-decoration: none;
}

.nav-account{
    display: inline-block;
    float: right;
    padding: 15px;
}

.nav-account ul li{
    list-style: none;
    display: inline;
    margin: 10px;
}

.nav-account ul li a{
    color: #111111;
    text-decoration: none;
}
.username{
    font-style: italic;
    font-size: 0.9em;
}

.nav-btn{
    background: #ff4a47;
    padding: 10px;
    border-radius: 20px;
}

.nav-btn a,i{
    color: #fff !important;
    font-size: 1em;
}

.active{
    border-bottom: 2px #ff4a47 solid;
}

/*Hero Ssection*/

.hero-img{
    width: 35%;
    z-index: -10;
    position: absolute;
    right: 20%;
    top: 150px;

}

.hero-img img{
    width: 100%;

}

.hero-call{
    position: absolute;
    top: 280px;
    left: 15%;
    z-index: -5;
}

.hero-call h2{
    font-size: 3em;
    font-weight: 200;
    line-height: 0.9em;
}

.hero-call h2 span{
    font-size: 1.2em;
    font-weight: 800;
}

.hero-call p{
    margin-top: 35px;
}

.hero-call button{
    background: #ff4a47;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    border: none;
    font-size: 0.8em;
    margin-top: 35px;
    text-transform: uppercase;
}

/*Latest News Section*/

.latest-news{
    height: 200px;
    background: #131f3d;
}


